<div class="container">
  <h1 class="title">Cifrado de Archivos con AES</h1>

  <div class="section">
    <h3 class="section-title">Subir Archivo para Cifrar</h3>
    <input type="file" class="file-input" (change)="onFileSelected($event, 'encrypt')" />
    <br />
    <label for="encrypt-key" class="label">Clave:</label>
    <input id="encrypt-key" [(ngModel)]="key" type="text" class="input"/>
    <br />
    <button class="button" (click)="encryptFile()">Cifrar y Descargar</button>
  </div>

  <hr class="divider"/>

  <div class="section">
    <h3 class="section-title">Subir Archivo para Descifrar</h3>
    <input type="file" class="file-input" (change)="onFileSelected($event, 'decrypt')" />
    <br />
    <label for="decrypt-key" class="label">Clave:</label>
    <input id="decrypt-key" [(ngModel)]="key" type="text" class="input"/>
    <br />
    <button class="button" (click)="decryptFile()">Descifrar y Descargar</button>
  </div>
</div>
